CMakeCache.txt
*.txt.*
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.mp4
*.cbp
paper.pdf

# Executables
*.exe
*.out
*.app

